        <!-- Masthead-->

        <header class="masthead bg-primary text-white text-center" style="background-image: url(<%= asset_path 'nicehome.jpg'%>); background-repeat: no-repeat;
  background-size: cover; background-position: center; height: 39%;">
            <div class="container d-flex align-items-center flex-column" style="padding-bottom: 40px; margin-bottom: 40px;">
                <!-- Masthead Avatar Image-->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase text-secondary mb-0" style="font-family: 'Barlow', sans-serif;">RnBnB</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line text-secondary"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-person-walking-luggage"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <h2 class="masthead-subheading font-weight-strong text-secondary mb-0" style="font-family: 'Barlow', sans-serif;">Reliable Neighbor - Bikes Not Bombs</h2>
            </div>
        </header>
        <!-- Portfolio Section-->
            <div class="container">
                <!-- Portfolio Section Heading-->

                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="font-family: 'Barlow', sans-serif;">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-person-walking-luggage"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <h3 style="font-family: 'Barlow', sans-serif; text-align: center;">Their house, your new home. Whether it's for the weekend or for the month, find a new place to call home!
                Guests agree, our flats have friendly neighbors, a plethora of bikes, and are always 100% bomb free or your money back.
                Enjoy your stay neighbor! Rnbnb was born in 2022 when four Hosts welcomed three guests to their EDT-Timezone Bootcamp, and has since grown to over 6 Hosts who have welcomed more than 10 guest arrivals in almost every country across the globe. Every day, Hosts offer unique flats and experiences that make it possible for guests to connect with communities in a more authentic way.</h3>
                <div class="container">
                <img src="https://img.buzzfeed.com/buzzfeed-static/static/2021-03/13/3/asset/a248474ef65d/sub-buzz-2477-1615605471-8.jpg" class="rounded mx-auto d-block" style="width: 900px; height: 600px; margin-top: 55px;">
                </div>
            </div>
        </section>

    </body>
</html>
