        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center" style="background-image: url(<%= asset_path 'nicehome.jpeg'%>); background-repeat: no-repeat; background-size: cover; background-position: right;">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-secondary mb-0">Welcome to RnBnB</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-music"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <%= link_to 'Available Flats', flats_path, class: 'btn btn-secondary p-3' %>
            </div>
        </header>
        <!-- Portfolio Section-->
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-primary mt-5">About Reliable Neighbors: Bikes Not Bombs</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <h3 class="page-section-heading text-center text-secondary"></h3>
                <p class="text-center">Their house, your new home. Whether it's for the weekend or for the month, find a new place to call home!
                Guests agree, our flats have friendly neighbors, a plethora of bikes, and are always 100% bomb free or your money back.
                Enjoy your stay neighbor!</p>
            </div>
        </section>
    </body>
</html>
