<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
<h1>Welcome to RnBnb</h1>
<h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
  <ul class='list-group'>
  <% @flats.each do |flat|%>
    <li class='list-group-item'>
      <%= link_to flat.title, flat_path(flat) %>
        <%= flat.rating %>
        <br>
      <%= flat.price %>
    </li>
    <% end %>
  </ul>
</div>
  <%= link_to 'Create a Flat', new_flat_path, class: 'btn btn-primary' %>
