<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
<h1>Welcome to RnBnb</h1>
<h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
  <ul class='list-group'>
  <% @flats.each do |flat|%>
    <li class='list-group-item'>
      <%= link_to flat.title, flat_path(flat) %>
        <%= flat.rating %>
        <fieldset class="form-group radio_buttons optional flat_rating">
        <legend class="col-form-label pt-0">Rating</legend>
        <input type="hidden" name="flat[rating]" value="">
        <div class="form-check">
        <input class="one-star" type="radio" value="1" name="flat[rating]" id="flat_rating_1">
        <label class="form-check-label collection_radio_buttons" for="flat_rating_1">Good</label>
        </div>
        <div class="form-check">
        <input class="two-stars" type="radio" value="2" name="flat[rating]" id="flat_rating_2">
        <label class="form-check-label collection_radio_buttons" for="flat_rating_2">Very good</label>
        </div>
        <div class="form-check">
        <input class="three-stars" type="radio" value="3" name="flat[rating]" id="flat_rating_3">
        <label class="form-check-label collection_radio_buttons" for="flat_rating_3">Excellent</label>
        </div>
        </fieldset>
        <br>
      <%= flat.price %>
    </li>
    <% end %>
  </ul>
</div>
  <%= link_to 'Create a Flat', new_flat_path, class: 'btn btn-primary' %>
