<div class=container>
<%= simple_form_for [@flat, @booking] do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.button :submit, class: "btn btn-secondary" %>
  </div>
<% end %>
</div>
