<html>
  <body style="background-color: white;">
    <div class="container">
      <%= render 'form' %>
      <%= link_to 'Back to flat', flat_path(@flat), class: 'btn btn-secondary mt-3' %>
    </div>
  </body>
</html>
